logoPink = rgb(208, 21, 110);
*, html, body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

body {
  font-family: Helvetica, Georgia, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

#content {
  width: 1000px;
  margin: auto;
}