table.data {

  border-radius:5px 5px 0px 0px;
  border-collapse: collapse;

  & th, & td {
    padding: 8px;
    margin: 0;
  }
  & th {
    background-color #0b97c4;
    text-align: left;
  }
  & td {
    background-color: #c2ccd1;
  }
  &tr:hover {
    background-color: white;
  }
  & th > input {
    width: 100%;
  }
  & .money {
    text-align: right;
  }
}